.btn {
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color:#de2c28;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  border: solid 2px #de2c28;
  height: 40px;
  width: 110px;
  text-align: center;
  --c:#de2c28;
  color: var(--c);
  position: relative;
  z-index: 1;
  transition: 0.5s;
  background-color: white;
  overflow: hidden;
}

.btn:hover {
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 400;
  color: #de2c28;
  background-color: white;
  height: 40px;
  width: 110px;
  z-index: 1;
}


.btn span {
  position: absolute;
  top: 0px;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -6;
}

.btn:hover {
  color: white;
  font-weight: 200;
}

.btn:hover span {
  transform: translateY(0) scale(1.5);
}

.btn span:nth-child(1) {
  --n: 1;
}

.btn  span:nth-child(2) {
  --n: 2;
}

.btn span:nth-child(3) {
  --n: 3;
}

.btn span:nth-child(4) {
  --n: 4;
}
