.wapper_sidemenu {
  background-color: #585858;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100% - 70px);
  position: absolute;
  z-index: 0;
  top: 70px;
  overflow: hidden;
}
/* testing */

.sidemenu_list {
  background-color: #585858;
  height: 100%;
  z-index: 1;
}

.sidemenu_list_item {
  width: 100%;
  background-color: #585858;
  color: white;
  line-height: 3rem;
  border-bottom: solid 1px grey;
  list-style: none;
  --c:white;
  color: var(--c);
  line-height: 3em;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
}

/* .sidemenu_list_item:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: 1rem;
  border-bottom: solid 1px white;
} */

.sidemenu_list_text  {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 1rem;
  font-size: 18px;
}

.sidemenu_list_text img{
  width:30px;
  height:30px;
  background-color: none;
  margin-right: 10px;
}

.sidemenu_list_text:hover {
  color: black;
}

.sidemenu_list_item span {
  position: absolute;
  top: 0px;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.sidemenu_list_item:hover {
  color: black;
}

.sidemenu_list_item:hover span {
  transform: translateY(0) scale(1.5);
}

.sidemenu_list_item span:nth-child(1) {
  --n: 1;
}

.sidemenu_list_item  span:nth-child(2) {
  --n: 2;
}

.sidemenu_list_item  span:nth-child(3) {
  --n: 3;
}

.sidemenu_list_item  span:nth-child(4) {
  --n: 4;
}
